*.pth
*.tar
*.zip


*.log
image_classification/visualize/
image_classification/data/
visualize/

object_detection/work_dirs/
object_detection/data/
object_detection/chekpoints/

semantic_segmentation/work_dirs/
semantic_segmentation/data/
semantic_segmentation/chekpoints/
semantic_segmentation/visualize/

__pycache__/
image_classification/__pycache__/
object_detection/__pycache__/
semantice_segmentation/__pycache__/

.DS_Store
*.sh